<h1>List Of Articles</h1>

<% if @article %>

   <% @article.each do |art| %>
       
      <p>
      	 Id: <%=art.id %><br/><br/>
         Title: <%=art.title %><br/>
         Message: <%=art.text %><br/><br/>
         Created_at: <%=art.created_at %><br/>
         <%=link_to 'Show', article_path(art)%>
         
         <% if user_signed_in? %>
           <% if art.userid == current_user.id %>
         
            | <%=link_to 'Edit', edit_article_path(art)%>
         
          <% end end %> 
 		
       </p><hr/>
	<%end%>
<%end%>