<h1>Show Page</h1>
<h2><%=@article.title %></h2>
<p>
	<%=@article.text %>
</p>
<hr/>

<!--list of avaialable comments -->
<h2>Comments:</h2>
<div style="margin: 20px;">
  <p>
    <%@article.comments.each do |comment| %>
    
       <p>Comment | <%=comment.id%></p>
       <p>Name | <%=comment.author%></p>
       <p>Body | <%=comment.body%></p>
       <p>Updated | <%=comment.updated_at%></p>
       <hr/>

     <%end%>
   
   </p>
</div>
<!-- add comment form -->
<h2>Add Comment</h2>
<p>
	<%= form_for([ @article, @article.comments.build ]) do |f| %>
	<p>

	   <%=f.label :author %><br/>
	   <%=f.text_field :author %><br/>
	</p>
	<p>
	   <%=f.label :body %><br/>
	   <%=f.text_area :body %>
	</p>
	<p>
	   <%=f.submit %>
	</p>

<% end %>
</p>
