<h1>Article</h1>
<h2><%=@article.title %></h2>
<p>
	<%=@article.text %>
</p>
<hr/>

<!--list of avaialable comments -->
<h2>Comments</h2>
<div style="margin: 20px;">
	<% if @article.comments.size == 0 %>
           <div>no comments yet...</div>
    <% else %> 
  <p>
    <%@article.comments.each do |comment| %>
    
       <p>
       	 <i><%=comment.created_at%></i>
       	 <i><%=comment.author%> said:</i></br>
         <p><%=comment.body%></p>
      </p>
       <hr/>

     <%end%>
   </p>
   <% end %>
</div>
<!-- add comment form -->
<h2>Add Comment</h2>
<p>
	<%= form_for([ @article, @article.comments.build ]) do |f| %>
	
	   <%=f.hidden_field :author, value: current_user.username %>
	<p>
	   <%=f.text_area :body, {:rows => "10", :cols => "80"} %>
	</p>
	<p>
	   <%=f.submit %>
	</p>

<% end %>
</p>
